#!/bin/bash
source /root/admin-openrc

/usr/bin/expect << EOF

spawn openstack user create --domain default --password-prompt nova
    expect "User Password:"
    send "123456\r"
    expect "Repeat User Password:"
    send "123456\r"
    expect eof


